asgiref==3.7.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
bleach==6.1.0
Django==4.2.9
django-bootstrap4==24.1
django-filter==23.5
django-summernote==0.8.20.0
django-taggit==5.0.1
gunicorn==21.2.0
packaging==23.2
pillow==10.2.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
webencodings==0.5.1
whitenoise==6.6.0
